[Unit]
Description=Service to check what's he doing
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/var/www/now-activity/now-activity -bind ":8086"

[Install]
WantedBy=multi-user.target
